<%- include('partials/header')%>

<div class="successContent" style="background-image: none;">
    <h2 >Page doesn't exist!</h2>
<img src="/images/fourZerofour.svg" alt="Success Image" style="margin-top: 2rem;">

</div>
<%- include('partials/footer') %>