<%- include('partials/header') %>
<div class="successContent" style="background-image: url(/images/failBackground.png); background-position-y: 200px; ">
<img src="/images/fail.png" alt="Robot Image" style="margin-top: 100px;">
</div>
<%- include("partials/footer") %>