<%- include('partials/header') %>
<!-- HEADER -->
<section>
    <header id="swup" class="transition-fade">
        <div class="flex-container">
            <div class="headText">
                <h1>7 Day <br> English Challenge</h1>
                <p>Every week challanges for improving your English</p>
                <button class="btn  headerButton">Sign Up</button>
            </div>
            <div class="headImg">
                
                <img src="/images/Webinar-bro.svg" alt="" class="headingImg">
            </div>
        </div>
    </header>
</section>
<main id="swup" class="transition-fade">

    <div class="container-fluid">
        <div>
            <h2>Our 7 Day Program</h2>
        </div>
        <div class="container row">
            <div class="col-lg-4 col-md-8 col-sm-10 mgi one">
                <img src="/images/Literature-bro.svg" alt="">
                <h3>Reading</h3>
                <p>Our online English Reading Challange feature lots of useful learning materials and activities to
                    help you develop your reading skills with confidence in a safe and inclusive learning
                    environment</p>

            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 mgi two">
                <img src="/images/Podcast audience-bro.svg" alt="">
                <h3>listening</h3>
                <p>Our online English provides a lot Listning materials for improving your Listning skills</p>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 mgi ">
                <img src="/images/Videotape-bro.svg" alt="">
                <h3>Watching</h3>
                <p>Our Challange provides a lot of movies, documentaries, serials for improving your English</p>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 mgi four ">
                <img src="/images/Hand holding pen-bro.svg" alt="">
                <h3>Grammar</h3>
                <p>In this part of challange we proide workbooks for improving you grammar.</p>
            </div>

            <div class="col-lg-4 col-md-8 col-sm-10 mgi five">
                <img src="/images/Dictionary.svg" alt="">
                <h3>Vocabulary</h3>
                <p>We now a lot of students have stuggle with memorizing vocabularies but our Challange provides
                    only useful words for learning you don't need memorize all word. </p>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 mgi ">
                <img src="/images/Video game developer-bro.svg" alt="">
                <h3>Games</h3>
                <p>We provide a lot of interactive games for learnig all aspects of English</p>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-10 mgi seven">
                <img src="/images/Creative writing-bro.svg" alt="">
                <h3>Writing</h3>
                <p>Our online English Challange feature lots of useful writing materials and activities to help you
                    develop your writing skills with confidence in a safe and inclusive learning environment.</p>
            </div>

        </div>
    </div>
</main>
<footer>
    <div class=" flex-container">
        <ul class="oUl ">
            <h6>Support</h6>
            <li>Contacts</li>
            <li>Privacy policy</li>
            <li>Feedback</li>
        </ul>
        <ul class="sUl">
            <h6>Company</h6>
            <li>Term of Use</li>
            <li>Help</li>
            <li>About Us</li>

        </ul>
    </div>

</footer>
<%- include('partials/footer') %>