<div class="noneButton">
<%- include('partials/header') %>
</div>
<section class="bigSection">
    <section class="signSection">
        <div>
            <form action="/" method="post">
                <div class="formInput">
                    <h2>Sign For Challange</h2>
                    
                    <p>First Name</p>
                    <input type="text" name="fName" >
                    <p>Email</p>
                    <input type="email" class="firstInput" placeholder="" name="email">
                    <button type="submit" class="btn" name="button">Sign Up</button>
                </div>
            </form>

    </section>
</section>
<%- include('partials/footer') %>