
<%- include('partials/header')%>

<div class="successContent">
    <h2>Congrats You Successfully Subscribed!</h2>
<img src="/images/success.png" alt="Success Image" >

</div>
<%- include('partials/footer') %>